<div class="view">
    <div class="list">
        <div class="header"><span class="label">Обучающиеся</span></div>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </div>
    <div class="info">&nbsp;</div>
    <div class="course">&nbsp;</div>
</div>